@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --pagebg: #ebebeb;
    --main: #102581;
    --bglink: rgba(0, 0, 0, 0.3);
    --darkbg: #FFF;
    --lightbg: #000;
    --lighter: #444;
    --headerbg: #204997;
    --headertx: #ebebeb;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--pagebg);
}

.container {
    max-width: 1100px;
    padding: 0 20px;
    margin: auto;
}

header {
    font-size: 28px;
    padding: 10px 0;
    background-color: var(--headerbg);
}

header .container {
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: var(--headertx);
}

header input {
    padding: 5px 10px;
    font-size: 14px;
    width: 100%;
    max-width: 200px;
    border-radius: 5px;
}

nav {
    background: var(--main);
    color: var(--darkbg);
    padding: 15px 0;
}

nav ul {
    list-style: none;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    color: var(--darkbg);
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 10px;
}

nav ul li.active a,
nav ul li:hover a {
    background: var(--bglink);
}